/* ----------- Google Fonts -------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* --------- Start Global ----------*/
:root {
   --main-color: #f25454;
   --bg-main-color: #fafafa;
}
.bg-pink {
   background-color: var(--main-color);
}
.text-pink {
   color: var(--main-color);
}
.fs-big {
   font-size: 4rem;
   font-weight: 700;
}
.fs-small {
   font-size: 0.9rem;
}
@media (max-width: 767px) {
   :root {
      font-size: 0.7rem;
   }
}
body {
   font-family: "Poppins", sans-serif;
}
.main-title h2 {
   font-size: 5rem;
   opacity: 0.1;
}
.main-title h3::before {
   content: "";
   position: absolute;
   width: 20%;
   height: 1px;
   background-color: black;
   top: 130%;
   left: 50%;
   transform: translateX(-50%);
   transition: width 0.3s;
}
.main-title:hover h3::before {
   width: 30%;
}
/* --------- End Global ----------*/
/* --------- Start Fixed ----------*/
.btngroup-fixed {
   position: absolute;
   z-index: 10;
   top: 50%;
   left: -5px;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
}
.btngroup-fixed button {
   border: none;
   background: transparent;
   padding: 10px 20px;
   position: relative;
}
.btngroup-fixed button.next {
   border-top-right-radius: 5px;
}
.btngroup-fixed button.prev {
   border-bottom-right-radius: 5px;
}
.btngroup-fixed button::after {
   content: "";
   position: absolute;
   inset: 0;
   background-color: #fff;
   right: 100%;
   transition: right 0.3s;
}
.btngroup-fixed button:hover::after {
   right: 0;
}
.btngroup-fixed button:hover svg {
   color: var(--main-color) !important;
   position: relative;
   z-index: 1;
}
.change-fixed {
   z-index: 15;
   top: 20%;
}
.change-fixed:hover svg {
   filter: brightness(1.5);
}
.fixed-animation {
   bottom: 20px;
   z-index: 10;
}
.fixed-animation .round {
   width: 30px;
   height: 50px;
   border: 1px solid #fff;
   transition: border-color 0.2s;
}
.fixed-animation .round:hover {
   border-color: var(--main-color);
}
.fixed-animation .round:hover .circle {
   background-color: var(--main-color);
}
.fixed-animation .round .circle {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #fff;
   animation: fiexed-move 0.9s linear infinite;
   top: 15%;
   transition: background-color 0.4s;
}
@keyframes fiexed-move {
   20% {
      top: 25%;
   }
   40% {
      top: 35%;
   }
   60% {
      top: 45%;
   }
   70% {
      top: 55%;
      opacity: 0.5;
   }
   80% {
      top: 65%;
   }
   90% {
      top: 75%;
   }
   100% {
      top: 85%;
      opacity: 0;
   }
}
/* --------- End Fixed ----------*/
/* --------- Start Header ----------*/
header nav .nav-link {
   margin-left: 0.9rem;
   font-size: 0.82rem;
   font-weight: 600;
}
header nav a {
   color: #000 !important;
}
header nav a.active {
   color: var(--main-color) !important;
}
header nav a:not(.active):hover {
   color: var(--main-color) !important;
}
.landing-slid .carousel-inner,
.landing-slid .carousel-inner .carousel-item {
   min-height: 100vh;
}
.landing-slid .slider div:first-child {
   background-image: url(../images/slideshow-1.jpg);
   background-size: cover;
}
.landing-slid .slider div:nth-child(2) {
   background-image: url(../images/slideshow-2.jpg);
   background-size: cover;
}
.landing-slid .slider div:last-child {
   background-image: url(../images/slideshow-3.jpg);
   background-size: cover;
}
.landing-slid .carousel-item::after {
   content: attr(data-text);
   position: absolute;
   z-index: 1000;
   top: 50%;
   left: 150%;
   width: 40%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 3.5rem;
   font-weight: bolder;
   color: white;
}
@media (max-width: 575.98px) {
   .landing-slid .carousel-item::after {
      font-size: 2rem;
      width: fit-content;
   }
}
.landing-slid .carousel-item.active::after {
   animation: move-text 0.5s forwards linear alternate;
}
@keyframes move-text {
   0% {
      left: 150%;
   }
   100% {
      left: 50%;
   }
}
/* --------- End Header ----------*/
/* --------- Start About ----------*/
.about .progress-bar::after {
   content: attr(data-progres);
   position: absolute;
   right: 0;
   bottom: 100%;
   color: #777;
}
.about .skil span {
   font-size: 0.8rem;
   font-weight: 300;
   color: #777;
}
/* --------- End About ----------*/
/* --------- Start Team ----------*/
:is(.team) :is(.team-member) :is(img, h5, .team-social) {
   transition: transform 0.4s, opacity 0.4s, top 0.4s, color 0.4s;
}
.team .team-member:hover .team-img img {
   transform: scale(1.1);
}
.team .team-member .team-social {
   background-color: rgba(242, 84, 84, 0.85);
   top: 15px;
   left: 0;
   opacity: 0;
}
.team .team-member:hover .team-social {
   opacity: 1;
   top: 0;
}
.team .team-member:hover .team-dtails h5 {
   color: var(--main-color);
}
.team .team-contact a {
   background-color: var(--main-color);
   padding: 15px 25px;
   border-radius: 2px;
}
.team .team-contact a:hover {
   filter: brightness(1.2);
}
/* --------- End Team ----------*/
/* --------- Start Service ----------*/
.services {
   background-color: var(--bg-main-color);
}
.services .service-content .ser-item:hover h5 {
   color: var(--main-color);
}
.services .service-content .ser-item h5 {
   font-weight: 600;
   transition: color 0.5s;
}
.services .service-content .ser-item p {
   color: #666;
   font-size: 0.8rem;
   padding-top: 10px;
}
/* --------- End Service ----------*/
/* --------- Start reviews ----------*/
:is(.reviews) :is(.carousel-indicators) :is(button, img) {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   text-indent: 0;
   transition: transform 0.3s;
}
@media (max-width:575.98px) {
   :is(.reviews) :is(.carousel-indicators) :is(button, img) {
      width: 50px;
      height: 50px;
   }
   .reviews .carousel-inner {
      width: 100% !important;
   }
}
.reviews .carousel-indicators button.active {
   transform: scale(1.4);
   position: relative;
}
:is(.reviews) :is(.carousel-indicators) button.active::before,
button.active::after {
   position: absolute;
   width: 120px;
   left: 50%;
   transform: translateX(-50%);
}
.reviews .carousel-indicators button.active::before {
   content: attr(data-user-title);
   top: 100%;
   font-size: 0.8rem;
   color: #444;
   font-weight: 600;
}
.reviews .carousel-indicators button.active::after {
   content: attr(data-user-sub);
   top: 120%;
   font-size: 0.6rem;
   color: #999;
}
.reviews .carousel-indicators button.active .text-hidd {
   display: block !important;
}
.reviews .carousel-indicators button.active .text-hidd h3 {
   padding: 10px 0 0;
   font-size: 0.9rem;
}
:is(.reviews) :is(.carousel-inner) :is(.carousel-item) p::before,
p::after {
   font-family: "Font Awesome 6 Free";
   font-weight: 900;
   font-size: 1.4rem;
   padding: 5px;
}
.reviews .carousel-inner .carousel-item p::before {
   content: "\f10d";
}
.reviews .carousel-inner .carousel-item p::after {
   content: "\f10e";
}
/* --------- End reviews ----------*/
/* --------- Start Contact ----------*/
.contact {
   background-color: var(--bg-main-color);
}
:is(.contact) :is(.contact-content) :is(input, textarea) {
   border: 2px solid #eee;
   border-radius: 3px;
   padding: 12px 20px;
}
:is(.contact) :is(.contact-content) :is(input, textarea):focus {
   box-shadow: 0 0 0 0.1rem rgb(242, 84, 84);
   caret-color: #aaa;
}
:is(.contact) :is(.contact-content) :is(input, textarea)::placeholder {
   color: #ccc;
   font-size: 0.9rem;
}
.contact .contact-content button:hover {
   filter: brightness(1.1);
}
/* --------- End Contact ----------*/
/* --------- Start Footer ----------*/
footer {
   background-color: #222;
   background-image: url(../images/dotted-map.png);
   background-size: contain;
}
footer div[class="col"]:last-of-type a {
   text-decoration: none;
   color: #ccc;
   border: 1px solid #ccc;
   text-align: center;
   padding: 5px;
   display: block;
   transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
}
footer div[class="col"]:last-of-type a:hover {
   border-color: var(--main-color);
   color: var(--main-color);
   box-shadow: 0 0 0 0.1rem rgba(242, 84, 84, 50%);
}
footer div[class="col"]:not(:last-of-type) a:hover,
footer .copy-right a:hover {
   color: var(--main-color) !important;
}
footer svg {
   background-color: rgba(242, 84, 84, 70%);
   padding: 16px;
   border-radius: 50%;
   transition: background-color 0.3s;
}
footer svg:hover {
   background-color: rgb(242, 84, 84);
}
.copy-right {
   background-color: #1a1a1a;
}
.copy-right a {
   color: #fff;
   transition: color 0.4s;
   padding: 10px;
}
.copy-right a:hover {
   color: var(--main-color) !important;
}
/* --------- End Footer ----------*/
